<div class="rxjs flex-center-center">

  <div>
    <div class="rxjs__demo-wrapper flex-center-center">
      <div class="rxjs__demo-wrapper__x">
        <div class="rxjs__demo-wrapper__x__filled"
              #filled
              [style.left]="left">
        </div>
      </div>

      <div class="rxjs__demo-wrapper__arrow-right"
            [class.fill]="isTriangleFilled">
      </div>

      <div *ngFor="let item of entriesMain"
            class="rxjs__demo-wrapper__entry flex-center-center"
            [style.left]="item.offSetLeft"
            [class.last]="item.isLast"
            [style.backgroundColor]="item.color">
        <span class="__entry__txt">
          {{ item.value }}
        </span>
      </div>
    </div>

    <div [class.hidden]="!entriesSecond?.length"
          class="rxjs__demo-wrapper flex-center-center">
      <div class="rxjs__demo-wrapper__x">
        <div class="rxjs__demo-wrapper__x__filled"
              #filled
              [style.left]="left">
        </div>
      </div>

      <div class="rxjs__demo-wrapper__arrow-right"
            [class.fill]="isTriangleFilled">
      </div>

      <div *ngFor="let item of entriesSecond"
            class="rxjs__demo-wrapper__entry flex-center-center"
            [style.left]="item.offSetLeft"
            [class.last]="item.isLast"
            [style.backgroundColor]="item.color">
        <span class="__entry__txt">
          {{ item.value }}
        </span>
      </div>
    </div>

    <div [class.hidden]="!entriesThird?.length"
          class="rxjs__demo-wrapper flex-center-center">
      <div class="rxjs__demo-wrapper__x">
        <div class="rxjs__demo-wrapper__x__filled"
              #filled
              [style.left]="left">
        </div>
      </div>

      <div class="rxjs__demo-wrapper__arrow-right"
            [class.fill]="isTriangleFilled">
      </div>

      <div *ngFor="let item of entriesThird"
            class="rxjs__demo-wrapper__entry flex-center-center"
            [style.left]="item.offSetLeft"
            [class.last]="item.isLast"
            [style.backgroundColor]="item.color">
        <span class="__entry__txt">
          {{ item.value }}
        </span>
      </div>
    </div>
  </div>
</div>
