<div class="rxjs flex-center-center">

  <div>
    <div [class.hidden]="!streamFirst"
         class="rxjs__demo-wrapper flex-center-center">
      <span [class.hidden]="!labels[0]" class="label">
        {{ labels[0] }}
      </span>
      <div class="rxjs__demo-wrapper__x">
        <div class="rxjs__demo-wrapper__x__filled"
              #filled
              [style.left]="left1">
        </div>
      </div>

      <div class="rxjs__demo-wrapper__arrow-right"
            [class.fill]="isTriangleFilled1">
      </div>

      <div *ngFor="let item of entriesMain"

            class="rxjs__demo-wrapper__entry flex-center-center"
            [style.left]="item.offSetLeft"
            [class.last]="item.isLast"
            [style.backgroundColor]="item.color">
        <span class="__entry__txt">
          {{ item.value }}
        </span>
      </div>
    </div>

    <div [class.hidden]="!streamSecond"
          class="rxjs__demo-wrapper flex-center-center">
      <span [class.hidden]="!labels[1]" class="label">
        {{ labels[1] }}
      </span>
      <div class="rxjs__demo-wrapper__x">
        <div class="rxjs__demo-wrapper__x__filled"
              #filled
              [style.left]="left2">
        </div>
      </div>

      <div class="rxjs__demo-wrapper__arrow-right"
            [class.fill]="isTriangleFilled2"
            (click)="isMoveDown = !isMoveDown">
      </div>

      <div *ngFor="let item of entriesSecond"
            class="rxjs__demo-wrapper__entry flex-center-center"
            [class.moveDown]="isMoveDown"
            [style.left]="item.offSetLeft"
            [class.last]="item.isLast"
            [style.backgroundColor]="item.color">
        <span class="__entry__txt">
          {{ item.value }}
        </span>
      </div>
    </div>

    <div [class.hidden]="!streamThird"
          class="rxjs__demo-wrapper flex-center-center">
      <span [class.hidden]="!labels[2]" class="label">
        {{ labels[2] }}
      </span>
      <div class="rxjs__demo-wrapper__x">
        <div class="rxjs__demo-wrapper__x__filled"
              #filled
              [style.left]="left3">
        </div>
      </div>

      <div class="rxjs__demo-wrapper__arrow-right"
            [class.fill]="isTriangleFilled3">
      </div>

      <div *ngFor="let item of entriesThird"
            class="rxjs__demo-wrapper__entry flex-center-center"
            [style.left]="item.offSetLeft"
            [class.last]="item.isLast"
            [style.backgroundColor]="item.color">
        <span class="__entry__txt">
          {{ item.value }}
        </span>
      </div>
    </div>
  </div>
</div>
