.slide-container {
  height: 75vh;
}

.fullH {
  height: 88vh;
}
section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  &.title{
    height: 85vh;
    padding: 0;
  }

  .title-img {
    width: 100%;
    height: 85vh;
  }
}

button {
  outline: none;
}

.slide-header {
  width: 100%;
  height: 10vh;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.divider {
  margin: 0 0 20px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #4f2c85, #ec0d8f);
}

mat-divider {
  margin: 20px 0 20px;
  border-top-width: 3px;

  &.short {
    border-top-width: 2px;
    border-color: #000000;
    max-width: 250px;
  }
}

.hidden {
  visibility: hidden;
}

.img-boxed {
  width: 600px;
}

p {
  font-size: 25px;
}

code {
  color: #000;
}

.two-columns {
  display: flex;
  justify-content: space-around;
}

.mrg-bot-20 {
  margin-bottom: 20px;
}

.fnt-size-80 {
  font-size: 80px;
}

.fnt-size-60 {
  font-size: 60px;
}

.cente-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


ngx-md {
  font-size: 18px;
}

.doesnt-work,
.pipe {
  @extend .cente-center;
  height: auto;

  img.d-w {
    max-width: 400px;
  }

  img.p {
    max-width: 600px;
    margin-left: 50px;
  }
}

.pipe {
  align-items: flex-start;
}

.bg-code {
  background-color: #f5f2f0;
}

.input {
  padding: 10px;
}

.consolelog {
  width: 100%;
  min-height: 300px;
  background-color: #000;
  color: cyan;
  padding: 5px 20px;

  .white {
    color: #f5f2f0;
  }
}

.end-section {
  background-image: url('../../../assets/th_all.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.end-section-2 {
  background-image: url('../../../assets/the-end.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
