<div *ngIf="isShowSlideHeader" class="slide-header">
  <h2>
    {{ sliderHeader }}
  </h2>
  <button mat-fab color="accent"
          *ngIf="isShowBtn"
          (click)="startDemo()">
    Start
  </button>
</div>
<div  *ngIf="isShowSlideHeader" class="divider"></div>

<div class="slide-container"
      [ngSwitch]="slideNumber">

  <section *ngSwitchCase="1" class="title">
    <img src="../../../assets/rxjs-operators-title.png" class="title-img">
  </section>

  <section *ngSwitchCase="2">
        <img class="img-boxed" src="../../../assets/table-1.png" alt="">

        <div>
            <div>
                <p>
                    <code>A1 = 1; B1 = 3;</code>
                    <br>
                    <mark>C1 = A1 + B1;</mark>
                    <br>
                </p>
            </div>
        </div>
  </section>

  <section *ngSwitchCase="3">
    <img class="img-boxed" src="../../../assets/table-1.png" alt="">

    <div>
        <div>
            <p>
                <code>A1 = 1; B1 = 3;</code>
                <br>
                <code>C1 = A1 + B1;</code>
                <br>
                <mark>C1 ~ 4</mark>
                <br>
            </p>
        </div>
    </div>
  </section>

  <section *ngSwitchCase="4">
    <div class="slide-description">
      <img class="img-boxed" src="../../../assets/table-2.png" alt="">

      <div>
          <div>
              <p>
                  <code>A1 = 1; B1 = 3;</code>
                  <br>
                  <code>C1 = A1 + B1;</code>
                  <br>
                  <code>C1 ~ 4</code>
                  <br>
              </p>
              <mat-divider class="short"></mat-divider>
              <p>
                <code>
                    <mark>A1 = 2;</mark>
                </code>
              </p>
          </div>
      </div>
    </div>
  </section>

  <section *ngSwitchCase="5">
    <img class="img-boxed" src="../../../assets/table-3.png" alt="">

    <div>
        <div>
            <p>
                <code>A1 = 1; B1 = 3;</code>
                <br>
                <code>C1 = A1 + B1;</code>
                <br>
                <code>C1 ~ 4</code>
                <br>
            </p>
            <mat-divider class="short"></mat-divider>
            <p>
              <code>
                  <code>A1 = 2;</code>
                  <br>
                  <mark>C1 ~ 5</mark>
                  <br>
              </code>
            </p>
        </div>
    </div>
  </section>

  <section *ngSwitchCase="6">
    <div class="two-columns">
        <div>
            <h3 class="mrg-bot-20">Push - strategy</h3>
            <p>
                <code>A1 = 1; B1 = 3;</code>
                <br>
                <code>C1 = A1 + B1;</code>
                <br>
                <code>C1 ~ 4</code>
                <br>
            </p>
            <mat-divider class="short"></mat-divider>
            <p>
              <code>
                  <code>A1 = 2;</code>
                  <br>
                  <code>C1 ~ 5</code>
                  <br>
              </code>
            </p>
        </div>

        <div>
            <h3 class="mrg-bot-20">Pull - strategy</h3>
            <p>
                <code>A1 = 1; B1 = 3;</code>
                <br>
                <code>C1 = A1 + B1;</code>
                <br>
                <code>C1 ~ 4</code>
                <br>
            </p>
            <mat-divider class="short"></mat-divider>
            <p>
              <code>
                  <code>A1 = 2;</code>
                  <br>
                  <mark>C1 ~ 4</mark>
                  <br>
              </code>
            </p>
        </div>
    </div>
  </section>

  <section *ngSwitchCase="7">
    <div class="cente-center">
        <h2 class="fnt-size-80">Push / Pull</h2>
    </div>
  </section>

  <section *ngSwitchCase="8">
    <div class="cente-center">
        <img src="../../../assets/graph-1.jpg" alt="">
    </div>
  </section>

  <section *ngSwitchCase="9">
    <div class="cente-center">
        <img src="../../../assets/graph-2.jpg" alt="">
    </div>
  </section>
  <section *ngSwitchCase="10">
    <div class="cente-center">
        <img src="../../../assets/graph-3.jpg" alt="">
    </div>
  </section>

  <section *ngSwitchCase="11">
    <div class="cente-center">
        <img src="../../../assets/graph-4.jpg" alt="">
    </div>
  </section>

  <section *ngSwitchCase="12">
    <div class="cente-center">
        <img src="../../../assets/graph-5.jpg" alt="">
    </div>
  </section>

  <section *ngSwitchCase="13">
    <div class="cente-center">
        <img src="../../../assets/graph-6.jpg" alt="">
    </div>
  </section>

  <section *ngSwitchCase="14">
    <div class="cente-center">
        <h2 class="fnt-size-80">Observable</h2>
        <h2 class="fnt-size-60">Observer pattern + Iterator pattern</h2>
    </div>
  </section>

  <section *ngSwitchCase="15">
      <div class="slide-description">
        <ngx-md [data]="content['observerPattern']">
        </ngx-md>
      </div>
  </section>

  <section *ngSwitchCase="16">
    <div class="cente-center">
        <img src="../../../assets/observer-pattern.png" alt="">
    </div>
  </section>

  <section *ngSwitchCase="17">
      <div class="slide-description">
        <ngx-md [data]="content['iteratorPattern']">
        </ngx-md>
      </div>
  </section>

  <section *ngSwitchCase="18">
    <div class="cente-center">
        <img src="../../../assets/iterator-pattern.png" alt="">
    </div>
  </section>

  <section *ngSwitchCase="19">
    <div class="cente-center">
        <h2 class="fnt-size-80">Observable</h2>
    </div>
  </section>

  <section *ngSwitchCase="20">
      <div class="slide-description">
        <ngx-md [data]="content['newObservable']">
        </ngx-md>
      </div>
      <rxjs-marble-diagrams
        #diagramComp
        [class.hidden]="hidden"
        [streamFirst]="streamFirst"
        >
      </rxjs-marble-diagrams>
  </section>

  <section *ngSwitchCase="21">
    <div class="slide-description">
      <ngx-md [data]="content['observableVsPromise']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="22">
    <div class="slide-description">
      <ngx-md [data]="content['subsunsubs']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="23">
    <div class="slide-description">
      <ngx-md [data]="content['clearInterval']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="24">
    <div class="slide-description">
      <ngx-md [data]="content['aboutSubs_1']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="25">
    <div class="slide-description">
      <ngx-md [data]="content['aboutSubs_1']">
      </ngx-md>
    </div>
    <div class="doesnt-work">
      <img src="../../../assets/doesnt_work.jpg" class="d-w">
    </div>
  </section>

  <section *ngSwitchCase="26">
    <div class="slide-description">
      <ngx-md [data]="content['aboutSubs_2']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="27">
    <div class="slide-description">
      <ngx-md [data]="content['aboutSubs_3']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="28">
    <div class="slide-description">
      <ngx-md [data]="content['aboutSubs_4']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="29">
    <div class="slide-description">
      <ngx-md [data]="content['aboutSubs_5']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="30">
    <div class="cente-center">
        <h2 class="fnt-size-80">Operators</h2>
    </div>
  </section>

  <section *ngSwitchCase="31">
    <div class="slide-description">
      <ngx-md [data]="content['operators_create']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="32">
    <div class="slide-description">
      <ngx-md [data]="content['operators_create_1']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="33">
    <div class="slide-description">
      <ngx-md [data]="content['operators_create_2']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="34">
    <div class="slide-description">
      <ngx-md [data]="content['operators_create_3']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="35">
    <div class="slide-description">
      <ngx-md [data]="content['operators_create_4']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="36">
    <div class="slide-description">
      <ngx-md [data]="content['operators_create_5']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="37">
    <div class="slide-description">
      <ngx-md [data]="content['operators_demo_1']">
      </ngx-md>
    </div>
  </section>

  <section *ngSwitchCase="38">
    <div class="slide-description">
      <ngx-md [data]="content['operators_demo_2']">
      </ngx-md>
    </div>
    <rxjs-marble-diagrams
      #diagramComp
      [class.hidden]="hidden"
      [streamFirst]="streamFirst"
      [streamSecond]="streamSecond"
      [labels]="['SubsFirst:', 'SubsSecond:']"
      >
    </rxjs-marble-diagrams>
  </section>

  <section *ngSwitchCase="39">
      <ngx-md [data]="content['pipe_1']" class="bg-code">
      </ngx-md>
    <div class="pipe bg-code">
      <img src="../../../assets/pipe_2.gif" class="p">
    </div>
    <ngx-md [data]="content['pipe_2']" class="bg-code">
    </ngx-md>
  </section>

  <section *ngSwitchCase="40">
      <div class="slide-description">
        <ngx-md [data]="content['merge']">
        </ngx-md>
      </div>
  </section>

  <section *ngSwitchCase="41">
    <div class="slide-description">
      <ngx-md [data]="content['merge_1']">
      </ngx-md>
    </div>
    <rxjs-marble-diagrams
      #diagramComp
      [class.hidden]="hidden"
      [streamFirst]="streamFirst"
      [streamSecond]="streamSecond"
      [streamThird]="streamThird"
      [labels]="['StreamFirst:', 'StreamSecond:', 'Subscribe:']">
    </rxjs-marble-diagrams>
  </section>

  <section *ngSwitchCase="42">
    <div class="slide-description">
      <ngx-md [data]="content['combineLatest']">
      </ngx-md>
    </div>
    <rxjs-marble-diagrams
      #diagramComp
      [class.hidden]="hidden"
      [streamFirst]="streamFirst"
      [streamSecond]="streamSecond"
      [streamThird]="streamThird"
      [labels]="['StreamFirst:', 'StreamSecond:', 'Subscribe:']">
    </rxjs-marble-diagrams>
  </section>

  <section *ngSwitchCase="43">
      <div class="slide-description">
        <ngx-md [data]="content['mergeMap']">
        </ngx-md>
      </div>
      <rxjs-marble-diagrams
      #diagramComp
      [class.hidden]="hidden"
      [streamFirst]="streamFirst"
      [streamSecond]="streamSecond"
      [labels]="['Stream:', 'Subscribe']"
      >
    </rxjs-marble-diagrams>
  </section>

  <section *ngSwitchCase="44">
      <div class="slide-description">
        <ngx-md [data]="content['switchMap']">
        </ngx-md>
      </div>
      <rxjs-marble-diagrams
      #diagramComp
      [class.hidden]="hidden"
      [streamFirst]="streamFirst"
      [streamSecond]="streamSecond"
      [labels]="['Stream:', 'Subscribe']"
      >
    </rxjs-marble-diagrams>
  </section>

  <section *ngSwitchCase="45">
      <div class="slide-description">
        <ngx-md [data]="content['switchMap_2']">
        </ngx-md>
      </div>
      <rxjs-marble-diagrams
      #diagramComp
      [class.hidden]="hidden"
      [streamFirst]="streamFirst"
      [labels]="['Stream:']"
      >
    </rxjs-marble-diagrams>
  </section>

  <section *ngSwitchCase="46">
      <div class="slide-description">
        <ngx-md [data]="content['switchMap_2']">
        </ngx-md>
      </div>
      <rxjs-marble-diagrams
      #diagramComp
      [class.hidden]="hidden"
      [streamFirst]="streamFirst"
      [streamSecond]="streamSecond"
      [labels]="['Stream:']"
      >
    </rxjs-marble-diagrams>
  </section>




